<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Hang Li - 300993981 - COMP303 A4 - April 9, 2020 -->
<meta charset="ISO-8859-1">
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<!--import bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Update Category</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Recruitment Agency App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Index</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/organizations">Organ List</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="/organization/add">Add New Organ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Category List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/add">Add New Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jobs">Job List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job/add">Add New Job</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="text-center marignTop">
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
<h2 class="text-center mt-3">Update Category Form</h2>
<div class="jumbotron my-6">
<form action="#" th:action="@{/category/update/{id}(id=${category.jobCatId})}"
	th:object="${category}" method="post">
	
		<div class="form-row">
		<div class="col form-group">
		<label for="jobCatId">Category Id</label> 
		<input class="form-control" type="text" th:field="*{jobCatId}" id="jobCatId" placeholder="Category Id">
		<span class="errorMsg" th:if="${#fields.hasErrors('jobCatId')}" th:errors="*{jobCatId}"></span>
		</div>
		
		<div class="col form-group">
		<label for="catCode">Category Code</label>
		<input class="form-control" type="text" th:field="*{catCode}" id="catCode" placeholder="Category Code">
		<span class="errorMsg" th:if="${#fields.hasErrors('catCode')}" th:errors="*{catCode}"></span>
		</div>
		</div>
		
		<div class="form-row">
		<div class="col form-group">
		<label for="catName">Category Name</label>
		<input class="form-control" type="text" th:field="*{catName}" id="catName" placeholder="Category Name">
		<span class="errorMsg" th:if="${#fields.hasErrors('catName')}" th:errors="*{catName}"></span>
		</div>
		
		<div class="col form-group">
		<label for="orgId">Organization Id</label> 
		<select th:field="*{orgId}" class="custom-select mb-3">
			<option th:each="org:${organizations}" th:value="${org.orgId}" th:text="${org.orgName}"/>
		</select>
		<span class="errorMsg" th:if="${#fields.hasErrors('orgId')}" th:errors="*{orgId}"></span>
		</div>
		</div>
		
		<div class="form-group">
		<label for="catDesc">Category Description</label> 
		<textarea rows="4" class="form-control" th:field="*{catDesc}" id="catDesc" placeholder="Category Description"></textarea>
		<span class="errorMsg" th:if="${#fields.hasErrors('catDesc')}" th:errors="*{catDesc}"></span>
		</div>
		
		<div class="form-group">
		<input class="btn btn-primary" type="submit" value="Edit Category">
		</div>
</form>
</div>
</div>
<div class="col-lg-3"></div>
</div>
<p class="mt-5 mb-3 text-muted text-center"> &copy; Hang (Anna) Li - https://github.com/echopshi </p>
</main>
</body>
</html>