<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Hang Li - 300993981 - COMP303 A4 - April 9, 2020 -->
<head>
<meta charset="ISO-8859-1">
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<!--import bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<title>Recruitment Agency App</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Recruitment Agency App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/organizations">Organ List</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="/organization/add">Add New Organ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Category List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/add">Add New Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jobs">Job List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/job/add">Add New Job</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="text-center marignTop">
<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">
<div class="jumbotron my-4">
<h1 class="display-4">Recruitment Agency</h1>
<img src="../static/images/recruitment.png" th:src="@{/images/recruitment.png}" alt="recruitment"/>
<p class="lead">Agency recruiters do this by researching the open roles, identifying qualified people, screening the candidates, and providing support to the employer during selection of the new hire.</p>
</div>
</div>
<div class="col-lg-2"></div>
</div>
<p class="mt-5 mb-3 text-muted text-center"> &copy; Hang (Anna) Li - https://github.com/echopshi </p>
</main>
</body>
</html>